.new_inform{
		width: 100%;
	}
	input{
		height: 20px;
	}
	button{
		height: 26px;
	}
	.necessary{
		color: red;
		font-size: 18px;
	}
	#add_user{
		width: 100px;
	}
	.sub_btn{
		width: 100%;
	}
	.timetip{
		float: right;
		margin-right: 10px;
	}
	.box{
		height: 40px;
		background-color: white;
		padding: 10px;
		border-radius: 5px;
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 10px;
		box-shadow: 0px 0px 10px 1px lightgray;
	}
	.title{
		font-size: 15px;
		color: green;
		margin-bottom: 3px;
	}
	.box input{
		border: none;
		border-bottom: 1px solid black;
		width: 100%;
		outline: none;
	}
	.warn{
		font-size: 12px;
		color: red;
	}
	.userList{
		width: 90%;
		height: auto;
		max-height: 60px;
		background-color: white;
		z-index: 1;
		margin: 0 auto;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		box-shadow: 1px 1px 10px 1px lightgray;
		padding-top: 10px;
		text-align: center;
		overflow-y: scroll;
	}
	.user{
		margin-top: none;
	}
	.add_area{
		position: relative;
		height: 95px;
		z-index: 2;
	}
	.add_btn{
		width: 100%;
		margin-top: 10px;
	}
	.select_box{
		height: auto;
		background-color: white;
		padding: 10px;
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 10px;
	}
	.select_box p{
		height: 30px;
		line-height: 30px;
	}
	.remove{
		color: red;
	}
	.list{
		color: blue;
		font-size: 14px;
		float: right;
		margin-top: 10px;
	}