ul{
		width: 100%;
		display: -webkit-box; 
	    display: -ms-flexbox; 
	    display: -webkit-flex; 
	    display: flex; 
	    -webkit-box-pack: end;
	    -webkit-box-direction: reverse;
	    -webkit-box-orient: vertical;
	    -moz-flex-direction: column-reverse;
	    -webkit-flex-direction: column-reverse;
	    flex-direction: column-reverse;
		background-color: white;
	}
	input{
		border-radius: 0px;
	}
	li{
		background-color: white;
		display: block;
		height: 35px;
		line-height: 35px;
		border-bottom: 1px solid #F7F7F7;
		margin-left: 10px;
		margin-right: 10px;	
	}
	.search{
		margin: 10px;
		height: 20px;
		line-height: 20px;
		border: none;
		border-radius: 5px;
		outline: none;
		padding-left: 5px;
		text-align: center;
	}
	.list_head{
		 font-size:15px;
		 height:20px;
		 line-height:20px;
		 margin-left: 10px;
		 margin-top:5px;
		 margin-bottom:5px;
		 color:gray
	}
	.change-btn{
		width: 100%;
		background-color:white;
		border:solid 1px white;
		margin-top:5px;
		border-radius: 5px;
	}
	.group{
		width: 100%;
		background-color: white;
		height: 35px;
		line-height: 35px;
		border-bottom: 1px solid #F7F7F7;
		padding-left: 10px;
		display: inline-block;
	}
	i.right{
		width: 10px;
		height: 10px;
		background-color: transparent;
		transform: rotate(45deg);
		float: right;
		border-top: 3px solid green;
		border-right: 3px solid green;
		margin-right: 25px;
		margin-top: 10px;
	}
	i.up{
		border-top: 3px solid green;
		border-right: 3px solid green;
	}
	i.bottom{
		border-top: 3px solid transparent;
		border-bottom: 3px solid green;
		border-right: 3px solid green;
	}
	.container{
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: hidden;
		-webkit-overflow-scrolling: touch;
		background-color: rgba(0, 0, 0, 0.3); 
		z-index: 9;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.show{
		width: 100%;
		height: 145px;
		background-color: white;
		overflow: hidden;
		padding-top: 5px;
		border-radius: 5px;
	}
	.title{
		font-size: 15px;
		color: green;
		margin-bottom: 3px;
		padding-left: 5px;
	}
	.container input{
		border: none;
		border-bottom: 1px solid black;
		width: 100%;
		outline: none;
		margin-bottom: 10px;
		padding-left: 5px;
	}
	button{
		height: 30px;
		font-size: 16px;
	}
	.add_btn{
		width: 100%;
		height: 25px;
		font-size: 16px;
		border:1px solid transparent;
		background-color: white;
	}
	.wrong, .special{
		color: red;
		font-size: 13px;
	}
	.remove{
		color: blue;
		font-size: 14px;
		float: right;
		margin-top: 5px;
		/*margin-bottom: 5px;*/
	}
	:disabled{
		background-color: transparent;
	}
	.infor-area{
		width: 80%;
	}